.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #f2f2f2;
    padding: 0 20px 0 20px;

}


.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #70757a;
    padding: 15px;
}

.footer-link{
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.footer-link:hover{
    text-decoration: underline;
}
.user-location p{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    font-family: arial,sans-serif;
}

.leaf-img{
    height: 14px;
    margin-right: 6px;
}

@media only screen and (max-width:768px){
    .footer-links{
        flex-direction: column;
        align-items: center;
    }

    .about-links{
        padding-bottom: 15px;
    }
    .terms{
        padding: 15px 0;
    }
    .footer-link:nth-child(4){
        display: none;
    }
    .footer-link{
        font-size: 12px;
    }
    .user-location p{
        font-size: 12px;
    }
}

@media only screen and (max-width:320px){
    .footer-link{
        font-size: 10px;
    }
    .user-location p{
        font-size: 12px;
    }

}